<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
 <title>Thymeleaf연습</title>
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
 </head>
 <body>
  <table border="1">
   <tr>
    <th>회원아이디</th> <th>회원이름</th> <th>가입날짜</th>
   </tr>
   
   <tr th:each="member:${list}">
    <td th:text="${member.mid}"></td>
    <td th:text="${member.mname}"></td>
    <td th:text="${#dates.format(member.regdate,'yyyy년 MM월 dd일')}"></td>
    <!--/* 날짜 포맷 타입 지정 */-->
   </tr> 
  </table>
  
  <hr>
  
  <table border ="1">
  	<tr>
  	  <th>Count</th> <th>Size</th> <th>홀수(Odd)/짝수(Even)</th> <th>회원아이디</th>
  	  <th>회원이름</th> <th>가입날짜</th>
  	</tr>
  	
  	<tr th:each="member,count2: ${list}">
  	 <td th:text="${count2.count}"></td> <!--/* 1부터 시작하는 카운터 개수 */-->
  	 <td th:text="${count2.size}"></td> <!--/* size; 목록 개수 */-->
  	 <td th:text="${count2.odd + ' ' + count2.even}"></td>
  	 <!--/* odd; 홀수이면 true; even; 짝수이면 true */-->
  	 <th th:text="${member.mid}"></th>
  	 <th th:text="${member.mname}"></th>
  	 <th th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></th>
  	</tr>
  </table>
 </body>
</html>